.header{
  height: 101px;
  border-top: 2px solid #161f32;
}

.inner-box{
  width: 1170px;
  margin: 0 auto;
}

.inner-box:after{
  content: "";
  display: block;
  clear: both;
}

.logo{
  float: left;
  margin-top: 32px;
}

.logo-link{
  display: block;
  width: 122px;
  height: 30px;
  background: url("../images/logo_artica.gif") no-repeat;
  text-indent: 9999px;
}

.btn-menu-toggle{
  float: right; /*블럭요소 변경*/
  width: 26px;  /*버튼은 인라인이지만 적용된다*/
  height: 23px;
  background: url("../images/btn_show_menu.gif") no-repeat;
  text-indent: -9999px;
  border: 0;
  margin-top: 39px;
}

.gnb{
  width: 302px;  /*가로값에 padding값 포함해서 340px */
  height: 100%;
  padding-left: 38px;

  position: fixed;
  top: 0;
  right: -340px;    /* 안보이게 해줌 */
  font-size: 37px;
  color: #ffffff;
}

.gnb-heading{
  font-family: 'Molle', cursive;
  font-size:37px;
  color:#fff;
  margin-left:4px;
  margin-top:59px; /*padding을 주면, 높이 100%+59px이 됨으로 */
}

.gnb-list{
  margin-top: 50px;
}

.gnb-item{
  margin-bottom: 19px;
}

.gnb-link{
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
}

.btn-menu-close{
  width:12px;
  height:12px;
  background:url(../images/btn_close_menu.png) no-repeat;
  border:0;
  text-indent:-99999px;

  position:absolute;
  top:59px;
  right:53px;

  /* mouse cursor ¸모양 바꾸기 */
  cursor: pointer;
}

/*공통(common) css*/
.contents{
  text-align: center;
  padding-top: 65px;
  box-sizing: border-box;
}

.heading-section{
  font-size: 30px;
  font-weight: 400;
}

.heading-section.logo-type{
  font-family:  Molle, cursive;  /*꼬불꼬불한 폰트체의 기본체 cursive */
  font-size: 52px;
  color: #ffffff;
  margin-bottom: 47px;  /*마진겹침현상*/
}

.heading-section.dark{
  color: #3d506f;
}

.heading-section.white{
  color: #fff;
}

.heading-section-sub{
  font-size: 20px;
  margin-top: 17px;
}

.heading-section-sub.white{
  color: #ffffff;
}

.heading-section-sub2{
  font-size: 25px;
  margin-bottom: 23px;
  color: #3d506f;
  font-weight: 400;
}

.heading-section-sub2.white{
  color: #ffffff;
}

.hr-line{
  margin-top: 30px;
  position: relative;
}

.hr-line.mt45:before{       /*클래스 이름 맨뒤에 선택자*/
  margin: 0 auto 45px !important;
}  /* !important -소스의 순서와 상관없이 우선적용(세미쿨론안에) inlline보다 높음*/

.hr-line.dark:before{
  content:"";
  display: block;
  width: 571px;
  height: 1px;
  background: #7f90a5;
  margin: 0 auto 30px;
}

.hr-line.dark:after{
  content:"";
  display: block;

  width: 23px;
  height: 16px;
  background: #ffffff url(../images/hr_line_circle_dark.png) no-repeat center;

  position: absolute;
  top: -8px;
  left: 50%;
}

.hr-line.white:before{
  content:"";
  display: block;
  width: 571px;
  height: 1px;
  background: #ffffff;
  margin: 0 auto 30px;  /*위 좌우 아래*/
}

.hr-line.white:after{
  content:"";
  display: block;

  width: 23px;
  height: 16px;
  background: #222c40 url(../images/hr_line_circle_white.png) no-repeat center;

  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -11px; /*-가로길이 반*/
}

.paragraph{
  line-height: 1.4;  /* 줄간격 : 폰트 크기의 1.4배 */
}

.paragraph.white{
  color: #ffffff;
}

.paragraph.big{
  font-size: 25px;
  font-weight: 300;
}

.paragraph.italic{
  font-style: italic;
}

.btn-link{
  width: 173px;
  height: 53px;
  box-sizing: border-box;  /*크기는 똑같이 가면서 border 있고/없고 를 자동 계산*/
  color: #ffffff;
  display: block;   /* a 태그가 인라인이라 */
  line-height: 53px;
  text-align: center;
}

.btn-link.center{
  margin: 35px auto 0;
}

.btn-link.white{
  border: 1px solid #ffffff;
}

.btn-link.dark{
  color: #3d506f;
}

/* 전용 css */
.mt20{
  margin-top: 20px;
}

.mt35{
  margin-top: 35px;
}

.mt65{
  margin-top: 65px;
}

.pb65{
  padding-bottom: 65px;
}

.fc-white{
  color: #ffffff;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

/*
  태그, id, class 선택자 없이 가상클래스만 사용하는 경우
  해당 가상클래스가 적용된 모든 요소에 CSS property를 적용함
*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

/*영역별 css*/
.section1{
  background: #546279;
  height: 700px;
}

.section1>.inner-section{   /* 많이 사용하진 않지만, 한개정도는 사용해도 괜찮 */
  background: #222c40;
  height: 311px;
  position: relative;
  top: 105px;
  padding-top: 43px;  /* padding 적용시 height 빼주기 */
}

.section3{
  height: 240px;
  background: #1d263a;
}

.section5{
  background: #222c40;
  position: relative;
  padding-bottom: 263px;
}

.section8{
  background: #161f32;
}

.section10{
  background: #222c40;
}

.service-list{
  margin: 65px auto 80px;
}

.service-list:after{
  content: "";
  display: block;
  clear: both;
}

.service-list-item{
  float: left;
  width: 255px;
  margin-right: 50px;
}

.service-list-item:last-child{
  margin-right: 0;
}

.service-list-item>.item-heading{
  position: relative;
  margin-bottom: 20px;
  color: #3d506f;
  font-size: 20px;
}

.service-list-item>.item-heading:before{
  content:"";
  display: block;

  width: 107px;
  height: 107px;
  border-radius: 50%;   /* css3 둥근 모서리 : 박스의 50% => 원 */
  background: #3d506f;
  margin: 0 auto 25px;
}

/* 공통 */
.service-list-item>.item-heading:after{
  content: "";
  display: block;
  background: url("../images/icon_sprite.png") no-repeat;
  position: absolute;
  left: 50%;
}

.service-list-item:nth-child(1)>.item-heading:after{
  width: 39px;
  height: 36px;
  background-position: 0 0;
  top: 38px;
  margin-left: -18px;
}

.service-list-item:nth-child(2)>.item-heading:after{
  width: 38px;
  height: 39px;
  background-position: -40px 0;
  top: 35px;
  margin-left: -18px;
}

.service-list-item:nth-child(3)>.item-heading:after{
  width: 40px;
  height: 38px;
  background-position: -79px 0;
  top: 35px;
  margin-left: -20px;
}

.service-list-item:nth-child(4)>.item-heading:after{
  width: 45px;
  height: 44px;
  background-position: -120px 0;
  top: 32px;
  margin-left: -22px;
}

.item-paragraph{
  line-height: 1.2;
}

.photo-list{
  padding: 85px 0 60px;
}

.photo-list:after{
  content: "";
  display: block;
  clear: both;
}

.photo-list-item{
  width: 255px;
  float: left;
  margin-right: 50px;
}

.photo-list-item:last-child{
  margin-right: 0;
}

.photo-list-item>.item-photo{}

.photo-list-item .item-photo-mask{
  width: 220px;
  height: 220px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;  /* 넘치는 컨텐츠를 숨김 */
  position: relative;
  margin: 0 auto;
  cursor: pointer;
}

.photo-list-item .item-photo-mask:before{
  content: "";
  display: block;

  width: 220px;
  height: 220px;
  background: #000;
  opacity: 0.8; /* 투명도 조절 : 0 ~ 1 실수 */

  position: absolute;
  top: 0;
  left: 0;
}

.photo-list-item .item-photo-mask:after{
  content: "";
  display: block;

  width: 58px;
  height: 58px;
  background: url("../images/icon_sprite.png") no-repeat right bottom; /* 이미지 오른쪽 아래 모서리 */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -29px 0 0 -29px;
}

.photo-list-item .item-photo-caption{
  margin-top: 25px;
}

.photo-list-item .item-photo-name{
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
}

.photo-list-item .item-photo-role{
  color: #fff;
  font-weight: 300;
  margin-top: 10px;
}

.photo-list-item>.item-story{
  width: 100%;
  height: 263px;
  background: #161f32;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: left;
  padding: 35px 0;
  box-sizing: border-box;   /* 높이값에 패딩 포함되게 (padding, border 만 가능) */
  color: #ffffff
}

.photo-list-item>.item-story:before{
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;  /* border 는 상호작용함. 그래서 없으면 안되니 투명하게 변경. */
  border-right: 14px solid transparent;
  border-bottom: 16px solid #161f32;
  position: absolute;
  top: -16px;
  left: 50%;
}

/* 삼각형 위치 */
.photo-list-item:nth-child(1)>.item-story:before{
  margin-left: -475px;
}

.photo-list-item:nth-child(2)>.item-story:before{
  margin-left: -169px;
}

.photo-list-item:nth-child(3)>.item-story:before{
  margin-left: 140px;
}

.photo-list-item:nth-child(4)>.item-story:before{
  margin-left: 445px;
}

.photo-list-item .item-story-heading{
  font-size: 20px;
  font-weight: 700;
}

.photo-list-item .item-story-paragraph{   /* 명시해주기위해 사용- 안쓰는게 좋음 */
  line-height: 1.2;
  font-weight: 300;
  margin: 35px 0;
}

.photo-list-item .item-story-period:before{
  content: "";
  display: inline-block; /* 나란히 배열-가로세로적용 되기때문에 (inline 가로세로 적용안댐) */
  width: 14px;
  height: 14px;
  background: url("../images/icon_sprite.png") no-repeat 0 -121px;
  margin-right: 9px;  /* 가상엘리먼트 생기는 순서 기억 */
  position: relative;
  top: 1px;
}

.photo-list-item .item-story-birth{
  margin-top: 10px;
}

.photo-list-item .item-story-birth:before{
  content: "";
  display: inline-block; /* 나란히 배열-가로세로적용 되기때문에 (inline 가로세로 적용안댐) */
  width: 13px;
  height: 12px;
  background: url("../images/icon_sprite.png") no-repeat -14px -121px;
  margin-right: 9px;  /* 가상엘리먼트 생기는 순서 기억 */
  position: relative;
}

.btn-pop-close{
  width:12px;
  height:12px;
  background:url(../images/btn_close_menu.png) no-repeat;
  border:0;
  text-indent:-99999px;
  cursor: pointer;

  position: absolute;
  top: 25px;
  left: 50%;  /* 가운데 보내기 */
  margin: 573px;  /* inner box (1170)의 절반에서 박스가로 빼기 1170-50%-12=573 / -왼쪽 +오른쪽 */
}

.our-company{
  width: 570px;
  float: left;
  text-align: left;
}

.our-skills{
  width: 570px;
  float: right;
  text-align: left;
}

.skill-list-item{
  margin-bottom: 8px;
  background: #dddddd;
}

.skill-list-item:last-child{
  margin-bottom: 0;
}

.skill-list-item>.bar{
  height: 42px;
  color: #ffffff;
  line-height: 42px;  /* line-height를 높이와 같이하면 중간에 놓임 */
  background: #3d506f;
  padding-left: 16px;
  box-sizing: border-box;
}

.skill-list-item>.bar.p93{
  width: 93%;
}

.skill-list-item>.bar.p90{
  width: 90%;
}

.skill-list-item>.bar.p85{
  width: 85%;
}

.skill-list-item>.bar.p80{
  width: 80%;
}

.career-wrap{
  width: 100%;
  padding: 63px 0;
  background: #222c40;
  margin-top: 68px;
}

.career-list:after{
  content: "";
  display: block;
  clear: both;
}

.career-list-item{
  float: left;
  text-align: left;
  color: #fff;
  position: relative;
  margin-right: 160px;
}

.career-list-item:nth-child(1){
  padding-left: 87px;
}

.career-list-item:nth-child(2){
  padding-left: 87px;
}

.career-list-item:nth-child(3){
  padding-left: 67px;
}

.career-list-item:nth-child(4){
  padding-left: 78px;
  margin-right: 0;
}

.career-list-item:before{
  content: "";
  display: block;
  background: url("../images/icon_sprite.png") no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.career-list-item:nth-child(1):before{
  width: 77px;
  height: 75px;
  background-position: 0 -46px;
}

.career-list-item:nth-child(2):before{
  width: 77px;
  height: 75px;
  background-position: -78px -46px;
}

.career-list-item:nth-child(3):before{
  width: 58px;
  height: 75px;
  background-position: -155px -46px;
}

.career-list-item:nth-child(4):before{
  width: 77px;
  height: 75px;
  background-position: -213px -46px;
}

.career-number{
  font-size: 40px;
  margin-bottom: 5px;
}

.btn-filter-wrap{
  margin: 67px 0;
}

.btn-filter{
  height: 36px;
  padding: 0 21px;
  background: #3d506f;
  color: #fff;
  font-size: 20px;
  margin-right: 17px;
}

.btn-filter:last-child{
  margin: 0;
}

.btn-filter.all{
  background: #00c7fc;
}

.blog-list{
  margin-bottom: 120px;
}

.blog-list:after{
  content: "";
  display: block;
  clear: both;
}

.blog-list-item{
  margin-bottom: 30px;
}

.blog-list-item.type1{
  width:570px;
  height:300px;
  float: left;
}

.blog-list-item:first-child{
  margin-right: 30px;
}

.blog-list-item:last-child{
  margin-left: 30px;
}

.blog-list-item.type1>.blog-list-item-image{
  width: 285px;
  height: 300px;
  float: left;
}

.blog-list-item.type1>.blog-list-item-text{
  width: 285px;
  height: 300px;
  float: left;
  padding: 25px;
  box-sizing: border-box;
  position: relative;
}

.blog-list-item.type1>.blog-list-item-text:before{
  content:"";
  display:block;
  width:0;
  height:0;
  border-top:14px solid transparent;
  border-bottom:14px solid transparent;
  border-right:16px solid #161f32;
  position:absolute;
  top:57px;
  left:-16px;
}

.blog-list-item.type2{
  width: 770px;
  float: left;
}

.blog-list-item.type2>.blog-list-item-text{
  height: 300px;
  padding: 25px;
  box-sizing: border-box;
}

.blog-list-item.type3{
  width: 370px;
  float: right;
}

.blog-list-item.type3>.blog-list-item-image{
  width: 370px;
  height: 300px;
  display:block;  /* img 태그가 인라인요소일때 생기는 불필요한 여백을 제거하기위함. */
}

.blog-list-item.type3>.blog-list-item-text{
  height: 330px;
  padding: 25px;
  box-sizing: border-box;
  position: relative;
}

.blog-list-item.type3>.blog-list-item-text:before{
  content:"";
  display:block;
  width:0;
  height:0;
  border-left:14px solid transparent;
  border-right:14px solid transparent;
  border-bottom:16px solid #161f32;
  position:absolute;
  top:-16px;
  left:57px;
}

.blog-list-item.type4{
  width: 370px;
  float: left;
}

.blog-list-item.type4>.blog-list-item-text{
  height: 300px;
  padding: 25px;
  box-sizing: border-box;
}

.blog-list-item-text{
  background: #161f32;
  text-align:left;
}

.blog-list-item-text>.author{
  color: #ffffff;
  margin-bottom:  20px;
}

.blog-list-item-text>.paragraph{
  line-height: 1.2;
}

.email-wrap{
  width: 770px;
  height: 66px;
  margin: 70px auto;
}

.email-input{
  width: 573px;
  height: 66px;
  padding: 25px;
  background: #3d506f;
  box-sizing: border-box;
  border: 0;
  color: #fff;  /* input 태그에 폰트 종류는 직접 지정해줘야 함. */
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  display: block;
  float: left;
}

.email-send{
  width: 172px;
  height: 66px;
  background: #3d506f;
  color: #ffffff;
  border: 0;
  font-size: 20px;
  font-weight: 400;
  display: block;
  float: right;
}

.customer-list-item{
  height: 51px;
  background: url("../images/customer_sprite.png") no-repeat;
  text-indent: -9999px;
  float: left;
  margin-right: 98px;
  cursor: pointer;
}

.customer-list-item:nth-child(1){
  width: 81px;
  background-position:0 0;
}

.customer-list-item:nth-child(1):hover{
  background-position:0 -51px;
}

.customer-list-item:nth-child(2){
  width: 112px;
  background-position:-176px 0;
}

.customer-list-item:nth-child(2):hover{
  background-position:-176px -51px;
}

.customer-list-item:nth-child(3){
  width: 122px;
  background-position:-381px 0;
}

.customer-list-item:nth-child(3):hover{
  background-position:-381px -51px;
}

.customer-list-item:nth-child(4){
  width: 132px;
  background-position:-567px 0;
}

.customer-list-item:nth-child(4):hover{
  background-position:-567px -51px;
}

.customer-list-item:nth-child(5){
  width: 117px;
  background-position:-770px 0;
}

.customer-list-item:nth-child(5):hover{
  background-position:-770px -51px;
}

.customer-list-item:nth-child(6){
  width: 112px;
  background-position:-974px 0;
  margin-right: 0;
}

.customer-list-item:nth-child(6):hover{
  background-position:-974px -51px;
}

.contact-list{
  position: relative;
  height:165px;
  margin:55px 0;
}

.contact-list-item{
  width:230px;
  position: absolute;
  left:50%;
}

.contact-list-item:before{
 content: "";
  display: block;

  width: 71px;
  height: 71px;
  background: url("../images/icon_sprite.png") no-repeat;

  margin: 0 auto 30px;
}

.contact-list-item:nth-child(1){
  margin-left:-515px;
}

.contact-list-item:nth-child(2){
  margin-left:-115px;
}

.contact-list-item:nth-child(3){
  margin-left:285px;
}

.contact-list-item:nth-child(1):before{
  background-position: 0 -136px;
}

.contact-list-item:nth-child(2):before{
  width: 72px;
  background-position: -73px -136px;
}

.contact-list-item:nth-child(3):before{
  background-position: -145px -136px;
}

.contact-list-item>.contact-text{
  color: #fff;
  font-size: 20px;
  /* 단락 줄바꿈 안함 */
  white-space: nowrap;
}

.form-wrap .name,
.form-wrap .mail,
.form-wrap .subject{
  width: 370px;
  height: 66px;
  background: #161f32;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding-left: 20px;
}

.form-wrap .name,
.form-wrap .mail{
  margin-right: 27px;
}

.form-wrap .message{
  width: 1170px;
  height: 215px;
  background: #161f32;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 30px;
  font-family: Lato, sans-serif;
}

.form-wrap input::-webkit-input-placeholder{
  font-style: italic;
}
.form-wrap input::-moz-placeholder {
  font-style: italic;
}
.form-wrap input:-ms-input-placeholder{
  font-style: italic;
}
.form-wrap input:-moz-placeholder{
  font-style: italic;
}

.form-wrap textarea::-webkit-input-placeholder{
  font-style: italic;
}
.form-wrap textarea::-moz-placeholder {
  font-style: italic;
}
.form-wrap textarea:-ms-input-placeholder{
  font-style: italic;
}
.form-wrap textarea:-moz-placeholder{
  font-style: italic;
}

.btn-send-msg{
  width: 235px;
  height: 66px;
  background: #ffffff;
  border: 0;
  color: #3d506f;
  margin-top: 30px;
  font-size: 20px;
}

.footer{
  border-top: 1px solid #ffffff;
  background: #161f32;
  text-align: center;
  padding: 40px 0;
}

.footer-logo{
  font-family: 'Molle', cursive;
  font-size: 37px;
  color: #fff;
}

.footer-copyright{
  color: #ffffff;
  font-size: 11px;
}

.detail{
  display:none;
}

.pofol-list{
  margin-bottom: 120px;
}

.pofol-list-item{
  float:left;
  margin:0 30px 30px 0;
}

.pofol-list-item:nth-child(4n){    /* 2n = 2의배수,짝수 / 2n+1 = 홀수*/
  margin-right: 0;
}

.thumb{
  width: 270px;
  height: 200px;
  position: relative;
  cursor: pointer;
}

.thumb-image-wrap{
  width: 270px;
  height: 200px;
  overflow: hidden;
}

.thumb-image.w{
  width: 100%;
  height: auto;
}

.thumb-image.h{
  width: auto;
  height: 100%;
}

.thumb-text-wrap{
  width: 270px;
  height: 200px;
  background: #000;
  opacity:0.7;
  position: absolute;
  top:0;
  left:0;
  color:#fff;
  padding-top:75px;
  box-sizing: border-box;
}

.thumb-text-heading{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.thumb-text-category{
  font-weight: 300;
}
















