
.header
{height:75px;}


.gnb{
  width:100%;
  height: 75px;
  background: #fff;
  margin-top: 44px;
  padding:0 auto;
  box-sizing: border-box;}

.inner-box
{width:940px;margin:0 auto;text-align: center;
}

.dark{
  color: #2c4755;
}

.logo {
  background:url(../images/Logo_astro.png) no-repeat 1px 0px;
  width:85px;
  height:35px;
  margin:24px 244px 24px 0;
  box-sizing:border-box;
  float:left;
  text-indent: -9999px}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

.menu{
  float:left;
  margin-top:33px;
}

.menu-list{}

.menu-list-item {
  float:left;
  margin-right:35px;
  font-size:14px;
  color:#637988;
  font-family:Roboto, sans-serif;
}

.menu-list-item:last-child
{margin-right:0;}

.input-search {
  width:140px;
  height:35px;
  border-radius:5px;
  border:solid 1px #ced9df;
  float:right;
  display:table-cell;
  margin-top:21px;
  padding-left:8px;
  background: url("../images/icon_sprite.png") no-repeat 0 0;
  background-position: left;
}

/*.input-search:after*/
/*{content:"";display:inline-block;*/
/*background:url(../Images/icon_sprite.png) no-repeat 1px -20px;*/
/*width:13px;height:13px;float:right; right:0;}*/





.util{
  width:100%;
  height: 44px;
  background: #c4a2e2;
  color: #fff;
  position:absolute;
  top:0;
  left:0;
  padding-top:18px;display:block;
  box-sizing:border-box;
}



.contact{
  float:left;
  color:white;
}


.contact-item1:before {
  content:"";
  display:block;
  width:16px;
  height:12px;
  background:url(../images/icon_sprite.png) no-repeat 0 0;
  float:left;
  margin-right:5px;
  position:relative;
  top:-3px;
}

.contact-item1 {
  float:left;
  margin-right:26px;
}


.contact-item2:before {
  content:"";
  display:block;
  width:16px;
  height:12px;
  background:url(../images/icon_sprite.png) no-repeat 0 0;
  float:left;margin-right:5px;
  position:relative;top:-3px;}

.contact-item2 {
  float:left;
}


.lang {
  float:right;
  margin-right:0;
  color:white;
  background-color:#c4a2e2;
  border: transparent;
}

/*.lang-op1:before*/
/*{content:"";display:block;*/
/*width:20px; height:13px;*/
/*background:url(../Images/cloud_one.png) no-repeat;*/
/*margin-right:8pxl}*/


.util{}



.section1 {
  background-color:#c4a2e2;
  height:220px;
  padding-top:30px;
}

.section-heading{
  font-size:25px;
  margin-bottom:25px;
  color:#2c4755;
}

.cloud:after {
  content:"";
  display:block;
  width:1600px;
  height:122px;
  background:url(../images/cloud_one.png) no-repeat;
  margin:56px auto 0;}






































/*************footer*************/
.footer{
  height: 377px;
  color: #edf2f6;

  background: #c4a2e2 url("../images/cloud_one.png") no-repeat;
  background-position: bottom;
}

.col{
  float: left;
  padding-top: 30px;
  margin-right: 120px;
  text-align: left;
}

.col-bottom{
  padding-top: 30px;
}

.list-heading{
  font-size: 17px;
  margin-bottom: 30px;
}

.list{
  line-height: 20px;
  list-style-type: disc;
  padding-left: 24px;
}

.list-heading-sub{
  line-height: 30px;
}

.footer-link{
  padding-left: 196px;
  color: #edf2f6;
}
